<h1>{{ title }}</h1>
<div class="navegacion">
  <div class="col-nav">
    <nav>
      <a routerLink="/01">01-Observable create</a>
    </nav>
    <nav>
      <a routerLink="/02">02-Subscriptions</a>
    </nav>
    <nav>
      <a routerLink="/03">03-From</a>
    </nav>
    <nav>
      <a routerLink="/04">04-Range y of</a>
    </nav>
    <nav>
      <a routerLink="/05">05-Interval y timer</a>
    </nav>
    <nav>
      <a routerLink="/06">06-from-event</a>
    </nav>
    <nav>
      <a routerLink="/07">07-mapto-map-filter</a>
    </nav>
    <nav>
      <a routerLink="/08">08-tap</a>
    </nav>
    <nav>
      <a routerLink="/09">09-first-take-takewhile</a>
    </nav>
    <nav>
      <a routerLink="/10">10-last-takelast-skip</a>
    </nav>
    <nav>
      <a routerLink="/11">11-reduce-scan</a>
    </nav>
    <nav>
      <a routerLink="/12">12-startwith-endwith</a>
    </nav>
    <nav>
      <a routerLink="/13">13-distinct-distinctuntilchanged</a>
    </nav>
    <nav>
      <a routerLink="/14">14-pairwise</a>
    </nav>
    <nav>
      <a routerLink="/15">15-share</a>
    </nav>
  </div>

  <div class="col-nav">
    <nav>
      <a routerLink="/16">16-subject</a>
    </nav>
    <nav>
      <a routerLink="/17">17-sampletime-throttletime-audittime</a>
    </nav>
    <nav>
      <a routerLink="/18">18-delay-buffer-time</a>
    </nav>
    <nav>
      <a routerLink="/19">19-debouncetime</a>
    </nav>
    <nav>
      <a routerLink="/20">20-zip-merge</a>
    </nav>
    <nav>
      <a routerLink="/21">21-concat-forkjoin</a>
    </nav>
    <nav>
      <a routerLink="/22">22-combinelatest-withlatestfrom</a>
    </nav>
    <nav>
      <a routerLink="/23">23</a>
    </nav>
    <nav>
      <a routerLink="/24">24</a>
    </nav>
    <nav>
      <a routerLink="/25">25</a>
    </nav>
    <nav>
      <a routerLink="/26">26</a>
    </nav>
    <nav>
      <a routerLink="/27">27</a>
    </nav>
    <nav>
      <a routerLink="/28">28</a>
    </nav>
    <nav>
      <a routerLink="/29">29</a>
    </nav>
    <nav>
      <a routerLink="/30">30</a>
    </nav>
  </div>
</div>
<hr />

<router-outlet></router-outlet>
<div id="grid"></div>
