
<h1>{{title}}</h1>
<nav>
  <a routerLink="/01">01-Observable create</a>
</nav>
<nav>
  <a routerLink="/02">02-Subscriptions</a>
</nav>
<nav>
  <a routerLink="/03">03-From</a>
</nav>
<nav>
  <a routerLink="/04">04-Range y of</a>
</nav>
<nav>
  <a routerLink="/05">05-Interval y timer</a>
</nav>
<nav>
  <a routerLink="/06">06-from-event</a>
</nav>
<nav>
  <a routerLink="/07">07-mapto-map-filter</a>
</nav>
<nav>
  <a routerLink="/08">08-tap</a>
</nav>
<nav>
  <a routerLink="/09">09-first-take-takewhile</a>
</nav>

<hr />

<router-outlet></router-outlet>
<div id="grid"></div>